html, body {
    height: 100%;
    color: white;
    background-color: black;
    margin: 0;
}

.d-none {
  display: none !important;
}

.wrapper {
display: flex;
justify-content: center;
}

.board {
    display: flex;
    width: 320px;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}
.row {
    display: flex;
}
span.area {
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid transparent;
    position: relative;
}

.area::before {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    background-color: #039ea2;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -5px;
    box-shadow: 0px 0px 6px 4px #7deef180;
}

.install-prompt-wrapper {
    height: 100%;
    width: 100vw;
    background-color: #373535d6;
    z-index: 3000;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }

  .install-prompt-wrapper .prompt {
    height: 180px;
    width: calc(100vw - 30px);
    max-width: 400px;
    background-color: #fbfafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.install-prompt-wrapper .prompt .promp-head {
  height: 42px;
  background-color: #60033d;
  color: white;
  display: flex;
  align-items: center;
}

.install-prompt-wrapper .prompt .promp-head img {
  height: 34px;
  border-radius: 18%;
  margin: 0 6px;
}

.install-prompt-wrapper .prompt .promp-body {
  padding: 0 15px;
  color: black;
}

.promp-body input {
  margin-left: 6px;
}

.install-prompt-wrapper .prompt .promp-footer {
  display: flex;
  justify-content: flex-end;
}

.install-prompt-wrapper .prompt .promp-footer button:first-of-type {
  margin-bottom: 10px;
  padding: 6px 10px;
  margin-right: 10px;
  background-color: #242424;
  color: white;
  border: none;
}

.install-prompt-wrapper .prompt .promp-footer button:nth-of-type(2) {
  margin-bottom: 10px;
  padding: 6px 10px;
  margin-right: 10px;
  background-color: #60033d;
  color: white;
  border: none;
}

.welcome-wrapper {
  /* padding: 10px; */
  display: inline-flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button.control {
  padding: 6px;
  background-color: lightseagreen;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 6px 0;
}

.host {
  margin-top: 15px !important;
}

.join label {
  display: block;
  margin-top: 51px;
}

.join input {
  padding: 5px;
  border-radius: 2px;
  border-style: none;
}

span.play-room-id {
  margin-left: 10px;
  color: #d1167c;
  font-size: x-large;
}

.players {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.player1, .player2 {
  height: 40px;
  width: 40px;
  background-color: #dfd8d8;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  color: black;
  align-items: center;
  font-weight: bolder;
  font-size: x-large;
  margin-left: 6px;
}

.player1.selected, .player2.selected {
  transform: scale(1.5);
  border: 2px solid #039ea2;
}

.user-box {
  color: #383434;
  height: 40px;
  width: 40px;
  background-color: chartreuse;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.user-box.player2 {
  color: white;
  height: 30px;
  background-color: rgb(255, 115, 0);
  border-radius: 50%;
}